/* src/index.css or src/index.scss */
@import '~bootstrap/dist/css/bootstrap.min.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar.css */

.navbars {
  background-color: #333; 
  padding: 10px;
  color: white;
  /* border-bottom: 1px solid black; */
  
   transition: 1s; /* Add a smooth transition effect */
}

.navbars.fixed {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); /* Add a subtle box shadow when fixed */
}

.option-box{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition:   0.3s;
}
.option-box:hover{
  box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
}

.option-box-btn{
  color:#A8C82B;
  transition:   0.3s;
}
.option-box-btn:hover{
  color: #333;
}